@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700&display=swap');

.main-header{
 background-blend-mode: multiply;
 background-size: cover;
 
}

*{box-sizing: border-box;
font-family: Raleway;
}

html{
scroll-behavior: smooth;
}

html, body{
 margin:0;
  padding:0;
}

.nav ul {
 margin:0;
}

.nav li {
 display:inline;
}

.nav a {
 display: inline-block;
 padding:20px;
  color: black;
  text-decoration:none;
}

.text-center{
text-align: center}

.main-nav{
text-align: center;
font-size: 11px;
font-weight: lighter;
border-bottom: 0px solid rgba(0, 0, 0, .5)

}

.main-nav li{
padding: 0 1%
}



.nav a:hover{
 background-color: rgba(192, 192, 192, .3)
}

body{
    background-image: linear-gradient(to bottom, #fdfdfd, #fbfdff, #f8fdff, #f3fdff, #eefeff, #e1feff, #d4fffd, #c7fffa, #abfff7, #8bfff4, #62fef1, #00fded););
    background size: 400%;
    animation: bganimation 15s infinite;
 width: 75%;
margin: auto;
    }

p{
 font-size: 22px
  
}

li{
 font-size: 22px
}

table{
 font-size: 20px;
 background-color:#FFFFDE;
 border-collapse:collapse;
}

.dy{
 background-color:#FFE66E
}





<!--width: 100%;
    height: auto;
    position: relative-->